$app-background: #f0f0f8;
$app-shadow: rgba(99, 99, 99, 0.1) 0px 2px 4px 0px;
$app-controls-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
$app-popup-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
$app-table-border: #eaf0f4;
$app-tabs-border: #e0e2e9;
$app-popup-border: #43425d;
$app-table-gray: #f5f6fa;
$app-event-bg: #3a86ff;
$app-text-red: #ff7575;
$app-popup-border: #53526a;
$app-text-dark-gray: #4a4963;
$app-text-light-gray: #a5a8b6;
$app-text-light-gray-2: #c6c6ce;
$app-text-white: #ffffff;
$app-text-blue: #3a86ff;
$app-scrollbar-bg: #a5a8b6;
$app-scrollbar-thumb: #4a4963;
